# --------------------
# Python
# --------------------
__pycache__/
*.pyc
venv/
.venv/

# --------------------
# Data files
# --------------------
# Ignore all real data
data/*.csv
data/*.xlsx
data/*.xls

# Allow fake demo dataset
!data/student_dataset_100.csv

# --------------------
# Output files
# --------------------
output/

# --------------------
# OS files
# --------------------
.DS_Store
Thumbs.db
